<!DOCTYPE html>
<html>

<head>
  <title>Pizza!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style="text-align:center">
  <br>
  <h1>
    <form action="{% url 'index' %}">
      <input type="image" src="https://cdn.pixabay.com/photo/2019/06/29/21/58/pizza-4306977_1280.png" alt="Submit" width="7%" height="7%"></form>
  </h1>
  <h6>
    <div><a href="{% url 'logout' %}">Logout</a> <a href="{% url 'checkout' %}">Checkout</a>
      {% if request.user.is_superuser %}
      <a href="{% url 'viewOrders' %}">View Orders</a>
      {% endif %}

    </div>
  </h6>
  <h2>
    {% if message %}
    <div>
      {{ message }}
    </div>
    {% endif %}
    Welcome to Pizza, {{ user.first_name }}
  </h2>
  <br>
  <table class="table table-bordered">
    <tr>
      <td>Menu Item</td>
      <td>Starting Price</td>
    </tr>

    {% for menuItem in menuItems %}
    <tr>
      <td><a href="/customize/{{menuItem.pk}}">{{ menuItem }}</a></td>
      <td>${{menuItem.price}}</td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>
